.join {
  width: 70%;
}
.memberava {
  width: 80px;
  height: 80px;
}
.memberjoin {
  background-color: #f4627d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}
.memberjoin:hover,
.memberjoin:focus {
  filter: brightness(110%);
}
.membermeetgrid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(3, 80px);
  grid-template-rows: repeat(3, 80px);
  justify-content: center;
}
.memberjoinicon {
  width: 35px;
  height: 35px;
  color: #ffffff;
}
.joinvideocontainer {
  width: 311px;
  height: 599px;
  background-color: #ffffff;
  padding: 10px 0px 10px 1px;
  box-shadow: 10px 10px 20px rgba(38, 20, 71, 0.4);
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  width: 300px;
  height: 599px;
}
.flipcard {
  background-color: transparent;
  width: 80px;
  height: 80px;
  perspective: 1000px;
}

.flipcardinner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flipcard:hover .flipcardinner {
  transform: rotateY(180deg);
}

.flipcardfront,
.flipcardback {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flipcardfront {
  background-color: #f4627d;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
}

.flipcardback {
  background-color: #f4627d;
  font-weight: 600;
  font-size: 14px;
  color: #ffffff;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  transform: rotateY(180deg);
}
.joinbuttonanchor,
.joinbuttonanchor:visited {
  text-decoration: none;
  color: #ffffff;
}
.memberavaname {
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  color: #828282;
  text-align: center;
}
.memberavacity {
  font-size: 9px;
  line-height: 12px;
  color: #828282;
  width: 90px;
  height: 15px;
  text-align: center;
  margin-top: 5px;
}

/* imported from text-edit-style */

.arrowDown {
  cursor: pointer;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.form {
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  gap: 10px;
}

.form input {
  border: none;
  background: #ffffff;
  border-radius: 3px;
  width: 123.17px;
  width: 80%;
  height: 24.4px;
}

.form label {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: right;
  text-align: left;
  color: #5f5e5e;
}

.place {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  color: #a4a4a4;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
  width: 17px;
  height: 17px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 50%;
}

